<header class="bg-black">
    <div class="text-white flex justify-between max-w-screen-xl mx-auto">
        <span class="py-6 px-4 font-bold text-3xl">Productos</span>
        <nav class="flex items-center pr-4">
            <ul class="flex">
                <!-- <li><a class="px-3 text-xl" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="bg-blue-300 rounded" routerLink="/">Home</a></li> -->
                <li><a class="px-3 text-xl" routerLinkActive="bg-blue-400 rounded py-3" routerLink="/productos">Productos</a></li>
                <li><a class="px-3 text-xl" routerLinkActive="bg-blue-400 rounded py-3" routerLink="/detalle">Detalle</a></li>
            </ul>
        </nav>
    </div>
</header>