<!-- <h1>esto es productitos</h1>
<button class="bg-blue-400 py-1 px-6 rounded" (click)="gotoUser(444444)">Presionar</button> -->

<div class="container mt-6">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Código</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio de compra</th>
                <th scope="col">Precio de venta</th>
                <th scope="col">Garantia</th>
                <th scope="col">Existencia</th>
                <th scope="col">Editar</th>
            </tr>
        <tbody>
            <tr *ngFor="let produc of productos">
                <td>{{produc.id}}</td>
                <td>{{produc.codigo}}</td>
                <td>{{produc.descripcion}}</td>
                <td>{{produc.precompra}}</td>
                <td>{{produc.preventa}}</td>
                <td>{{produc.garantia}}</td>
                <td>{{produc.existencia}}</td>
                <td><button class="bg-yellow-400 text-white px-4 rounded" (click)="enviarDatos(produc.id)">Editar</button></td>
            </tr>
        </tbody>
    </table>
</div>