<div class="container w-4/5 mt-10 text-center">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="text-lg bg-black text-white">
                <th scope="col">ID</th>
                <th scope="col">Código</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio de compra</th>
                <th scope="col">Precio de venta</th>
                <th scope="col">Garantia</th>
                <th scope="col">Existencia</th>
                <th scope="col">Editar</th>
            </tr>
        <tbody>
            <tr *ngFor="let produc of myProductos">
                <td>{{produc.id}}</td>
                <td>{{produc.codigo}}</td>
                <td>{{produc.descripcion}}</td>
                <td>{{produc.precompra}}</td>
                <td>{{produc.preventa}}</td>
                <td>{{produc.garantia}}</td>
                <td>{{produc.existencia}}</td>
                <td><button class="bg-blue-500 text-white py-1 px-4 rounded hover:bg-orange-500 hover:text-blue-500" (click)="enviarDatos(produc.id)">Editar</button></td>
            </tr>
        </tbody>
    </table>
</div>