<div class="container w-1/2 mx-auto my-6 p-4 bg-white rounded shadow-[0_0_10px_1px_rgba(0,0,0,0.2)] " *ngFor="let item of proDetalle">
    <div class="text-center font-bold text-3xl">
        <label for="">PRODUCTO NRO: </label>
        <span>{{id}}</span>
    </div>
    <br>
    <div>
        <label class="form-label" for="">Código de barras:</label><br>
        <input class="form-control" type="text" [(ngModel)]="item.codigo">
    </div>
    <div class="my-3">
        <label class="form-label" for="">Descripción:</label><br>
        <input class="form-control" type="text" [(ngModel)]="item.descripcion">
    </div>
    <div class="my-3">
        <label class="form-label" for="">Precio de Compra:</label>
        <input class="form-control" type="text" [(ngModel)]="item.precompra">
    </div>
    <div class="my-3">
        <label class="form-label" for="">precio de venta:</label>
        <input class="form-control" type="text" [(ngModel)]="item.preventa">
    </div>
    <div class="my-3">
        <label class="form-label" for="">Garantia:</label>
        <input class="form-control" type="text" [(ngModel)]="item.garantia">
    </div>
    <div class="my-3">
        <label class="form-label" for="">Existencia:</label>
        <input class="form-control" type="text" [(ngModel)]="item.existencia">
    </div>
</div>
