<div class="w-1/2 mx-auto mt-6 p-4 border bg-blue-50 rounded">
    <div class="text-center font-bold text-3xl">
        <label for="">PRODUCTO NRO: </label>
        <span>{{id}}</span>
    </div>
    <br>
    <div>
        <label for="">Código de barras:</label><br>
        <span>{{codigo}}</span>
    </div>
    <div class="my-3">
        <label for="">Descripción:</label><br>
        <span>{{descripcion}}</span>
    </div>
    <div class="my-3">
        <label for="">Precio de Compra:</label>
        <span>{{precompra}}</span>
    </div>
    <div class="my-3">
        <label for="">precio de venta:</label>
        <span>{{preventa}}</span>
    </div>
    <div class="my-3">
        <label for="">Existencia:</label>
        <span>{{existencia}}</span>
    </div>
</div>
 <!-- <h1>ESTO ES EL DETALLE</h1>
<h2>{{id}}</h2>  -->