<h1>ESTO ES EL DETALLE</h1>
<br>
<div>
    <label for="">PRODUCTO NRO: </label>
    <span> {{id}}</span>
</div>
<br>
<div>
    <label for="">Código de barras:</label>
    <span>{{codigo}}</span>
</div>

<br>
<div>
    <label for="">Descripción:</label>
    <span>{{descripcion}}</span>
</div>
<div>
    <label for="">Precio de Compra:</label>
    <span>{{precompra}}</span>
</div>
<div>
    <label for="">precio de venta:</label>
    <span>{{preventa}}</span>
</div>
<div>
    <label for="">Existencia:</label>
    <span>{{existencia}}</span>
</div>

<!-- <h1>ESTO ES EL DETALLE</h1>
<h2>{{id}}</h2> -->